.island {
	max-width: $default-width;
	margin: auto;
	margin-bottom: $default-size;
}


.grid {
	display: grid;
	grid-template-columns: $grid-item-size $grid-item-size;
	grid-column-gap: $default-size*2;
	// grid-template-rows: auto;
}

.grid-item {
	// grid-column-start: 1;
	// grid-column-end: 3;
	// grid-row-start: 1;
	// grid-row-end: 2;
}

.grid-fourth {
	column-count: 4;
	column-width: 25%;
	column-gap: $default-size*2 + 2px;
}
